-e ./libs/agno
-e ./libs/infra/agno_aws
-e ./libs/infra/agno_docker
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.7.0
boto3==1.35.93
botocore==1.35.93
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
clickhouse-connect==0.8.17
colorama==0.4.6
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
fastapi==0.115.12
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.71.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
iniconfig==2.1.0
jiter==0.9.0
jmespath==1.0.1
lz4==4.4.4
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.15.0
mypy_extensions==1.1.0
numpy==2.2.5
openai==1.75.0
packaging==25.0
pluggy==1.5.0
portalocker==2.10.1
protobuf==6.30.2
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
Pygments==2.18.0
pymongo==4.12.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.2
pywin32==310
PyYAML==6.0.2
qdrant-client==1.14.1
requests==2.32.3
rich==13.9.4
ruff==0.11.6
s3transfer==0.10.4
shellingham==1.5.4
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.46.2
tomli==2.2.1
tqdm==4.67.1
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.2
zstandard==0.23.0
